<div class="sheet">
  <header class="align--center">
    <h1>Set Aside</h1>
    <p>Everything you’ve marked as Set Aside.</p>
  </header>

  <div class="set-aside">
    <%= render partial: 'messages/message_preview', 
      collection: @topics.sort {|a, b| b.messages.last[:time_received] <=> a.messages.last[:time_received]},  
      as: 'topic' %>
  </div>


</div>
