<div>
  <header class="page__header">
    <h1>Set Aside</h1>
    <p>Everything you’ve marked as Set Aside.</p>
  </header>

  <div class="set-aside"
    data-controller="bulk-actions" 
    data-bulk-actions-selected-class="bulk-selection--active"
  >
    <section class="set-aside__section set-aside__section--top">
      <div class="card-container">
        <%= render partial: 'messages/message_preview', 
          collection: @topics["set_aside"],  
          as: 'topic' %>
      </div>
    </section>

    <% statuses = ['set_aside--now', 'set_aside--soon', 'set_aside--later', 'set_aside--whenever'] %>
    <% statuses.each do |status| %>
       <%= render partial:'set_aside_section', locals: {status:status} %>
    <% end %>

    <%= render partial: 'partials/bulk_actions_menu' %>
  </div>

</div>
