<div class="sheet">
  <header class="align--center">
    <h1>Set Aside</h1>
    <p>Everything you’ve marked as Set Aside.</p>
  </header>

  <div class="set-aside"
    data-controller="bulk-actions" 
    data-bulk-actions-selected-class="bulk-selection--active"
  >
    <%= render partial: 'messages/message_preview', 
      collection: @topics,  
      as: 'topic' %>

    <%= render partial: 'partials/bulk_actions_menu' %>
  </div>


</div>
