<nav class="<%= "navbar " + (@navbar_class.nil? ? '' : @navbar_class) %>">
	<div class="navbar__content">
		<div class="navbar__left">
			<div class="navbar__search">Search</div>
			<%= link_to '< Imbox', '/', class:'navbar__back' %>
			<!-- <div class="navbar__back">< Imbox</div> -->
		</div>
		<div>
			Hey ˅
		</div>
		<div class="navbar__right">
			<span class="navbar__right-label">Me</span>
			<img class="navbar__avatar avatar" src="https://production.haystack-assets.com/avatars/BAh7CEkiCGdpZAY6BkVUSSIuZ2lkOi8vaGF5c3RhY2svQ29udGFjdC8xNDMwODk4P2V4cGlyZXNfaW4GOwBUSSIMcHVycG9zZQY7AFQ6C2F2YXRhckkiD2V4cGlyZXNfYXQGOwBUMA==--af8cc52841e9b370fa21d86d7b86d0ed7b3a6252?v=20200904134622000000-5396545"/>
		</div>
	</div>
</nav>