<div class="sheet">
  <header class="align--center">
    <h1>Imbox</h1>
  </header>

  <div class="imbox" 
    data-controller="bulk-actions" 
    data-bulk-actions-selected-class="bulk-selection--active"
  >
    <%= render partial: 'messages/message_preview', collection: @topics, as: 'topic'%>
  </div>

  <footer class="imbox__footer">

    
  </footer>
</div>
