<div class="sheet">
  <header class="page__header">
    <h1>Imbox</h1>
  </header>

  <div class="imbox" 
    data-controller="bulk-actions" 
    data-bulk-actions-selected-class="bulk-selection--active"
  >
    <%= render partial: 'messages/message_preview', collection: @topics, as: 'topic'%>

    <%= render partial: 'partials/bulk_actions_menu' %>
  </div>

  <footer class="imbox__footer">
    <div class="imbox__tray imbox__tray--reply-later"></div>
    <div class="imbox__tray imbox__tray--set-aside">
      <%= render partial: 'messages/message_preview--card--mini', collection: @set_aside, as: 'topic' %>

      <%= link_to "", "/set_aside", class: 'imbox__tray-link imbox__tray-link--set-aside' %>
    </div>
  </footer>
</div>
