.flyout__container {
	position: relative;
}

.flyout__trigger {
	&.segmented-button__right {
		min-width: 0;
		width: 5rem;
	}
}

.flyout__menu {
	position: absolute;
	flex-direction: column;

	.bulk-actions{
		&__item {
			width: 100%;
		}
		&__button {
			text-align: left;
			padding: 1rem 1rem 1rem 4rem;
		}
	}
}