.page {
	width: 100%;
	padding: var(--page-padding);
	margin: 0 auto;
	min-height: calc(100% - var(--page-padding) * 2);

	&__content {
		max-width: var(--content-width);
		margin: 0 auto;
		display: flex;
	}
}

