.page {
	width: 100%;
	padding: var(--page-padding);
	margin: 0 auto;
	min-height: calc(100% - var(--page-padding) * 2);

	&__content {
		max-width: var(--content-width);
		margin: 0 auto;
		display: flex;
	}

	&__header {
		text-align: center;
		margin-bottom: 3rem;
		h1 {
			margin: 0;
		}
		p {
			margin-top: 0;
		}
	}

}

