.sheet {
	position: relative;
	width: 100%;
	padding: var(--sheet-padding);
	margin: 0 auto 2em;
	border-radius: 1.5em;
	box-shadow: 0 0 3rem var(--color-shadow);

	> header {
		margin-bottom: 3rem;

		> h1 {
			margin: 0;
		}
		> p {
			margin-top: 0;
		}
	}
}