.sheet {
	position: relative;
	width: 100%;
	padding: var(--sheet-padding);
	margin: 0 auto 2em;
	border-radius: 1.5em;
	box-shadow: 0 0 3rem var(--color-shadow);
}

@media (max-width: 40em) {
	.sheet {
		padding: 0;
		box-shadow: none;
	}
}