.add-sticky {
	position: relative;
	width: 4rem;
	height: 4rem;
	border: 0;
	background-color: rgb(255, 247, 206);
	border-radius: 0.5rem;
	cursor: pointer;

	svg * {
		fill: var(--color-yellow);
	}

	&:hover {
		background-color: darken(rgb(255, 247, 206), 10%);
	}
}