.flush {
	margin: 0;
}

.flex {
	display: flex;

	&--column {
		flex-direction: column;
	}
}

.relative {
	position: relative;
}

.align--center {
	text-align: center;
}

$sides: 'top', 'right', 'bottom,' 'left';
@each $side in $sides {
	.push {
		&--#{$side} {
			margin-#{$side}: var(--base-space);
		}
		&_half--#{$side} {
			margin-#{$side}: var(--half-space);
		}
		&_quarter--#{$side} {
			margin-#{$side}: var(--quarter-space);
		}
	}	
}